# Ambiente virtual
.venv/
venv/

# Cache Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# VSCode
.vscode/

# Arquivos do sistema
.DS_Store

# Banco de Dados (caso use)
*.db

# Pytest cache
.pytest_cache/

# Logs
*.log